$base-font-size: 16px;

$color-white: #FFFFFF;
$color-gray-dark: #323c46;
$color-gray-light: #b3b6b8;
$border-gray-light: #e4e4e4;
$color-orange: #fe823c;
$color-blue: #0096ff;
$color-background: #fafafa;
$color-shadow: #e9eaef;

$border-radius: 7px