@import '../src/sass/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
  --color-white: #FFFFFF;
  --color-gray-dark: #323c46;
  --color-gray-light: #b3b6b8;
  --border-gray-light: #e4e4e4;
  --color-orange: #fe823c;
  --color-blue: #0096ff;
  --color-background: #fafafa;
  --color-shadow: #e9eaef;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

/* Custom ScrollBar Start */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d3d3d3;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #848884;
}

/* Custom ScrollBar End */

/* MUI overwrite*/

.MuiBackdrop-root {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.555) !important;
}

.MuiDialog-paper {
  border-radius: $border-radius*1 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}